body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}

.container {
    display: grid;
    height: 100vh;
    place-items: center;
    align-items: center;
}

.btn {
    padding: 10px;
    border: solid 2px #cfcfcf;
    border-radius: 10px;
    background-color: #111;
    color: #cfcfcf;
}

#rgb-color-number, #rgb-color-opacity {
    padding: 10px;
    border: solid 1px #fff;
    border-radius: 10px;
    background-color: #111;
    color: #cfcfcf;
}

.d-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav {
    height: 70px;
    border-bottom: #111 solid 1px;
}

nav a:link {
    color: hotpink;
}

nav a:hover {
    color: red;
    font-weight: bolder;
}

nav a:visited {
    color: blue;
}

.hex {
    letter-spacing: 2px
}